@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-area="" asp-controller="Records" asp-action="Index"><img class="banner" src="~/images/banner.svg"></a>
</div>
<p>Click the image to access employee records!</p>