/* Content */
body {
    background-color: #fafaf6;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

@media screen and (min-width: 834px) and (max-width: 1520px){
    body {
        font-size: 14px;
    }
    footer {
        font-size: 12px;
    }
    th, td {
        text-align: left;
        padding: 0 12px 0 12px;
    }
}
@media screen and (min-width: 1521px){
    body {
        font-size: 24px;
    }
    footer {
        font-size: 18px;
    }
    th, td {
        text-align: left;
        padding: 0 20px 0 20px;
    }
}
@media screen and (max-width: 833px){
    body {
        font-size: 12px;
    }
    footer {
        font-size: 10px;
    }
    th, td {
        text-align: left;
        padding: 0;
    }
}

.banner {
    width: 100%;
    height: 100%;
}

/* Error messages */
.text-error {
    color: red;
}

/* Wrapping element */
/* Basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Employee Record Table */
table {
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
